<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-result-box card-box">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="pt-3 pb-4">
                                <form action="" method="">
                                    <div class="input-group">
                                            <input [(ngModel)]="busqueda" type="text" id="filtro" name="filtro" class="form-control"/>
                                            <div class="input-group-append">
                                                <button id="btnSearch" (click)='getSearch()' class="btn waves-effect waves-light btn-custom"><i class="fa fa-search mr-1"></i> Buscar</button>
                                                <button type="button" class="btn btn-secondary" (click)='indexar()' ><i class="fas fa-plus"></i> Indexar</button>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <div *ngIf='resultado' class="container">
                        <!-- <div class="mt-4 text-center">
                            <h4>Resultados de "{{busqueda}}"</h4>
                        </div> -->
                        <ul class="nav nav-tabs tabs-bordered">
                            <li class="nav-item" role="presentation">
                                <button  id="home-tab" data-toggle="tab" data-bs-toggle="tab" data-bs-target= "#home" type="button" aria-controls="home" aria-selected="true" aria-expanded="true" class="nav-link active" role="tab">Resultados de "{{busqueda}}"
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button (click)= 'getAllFiles()' id="allfiles-tab" data-toggle="tab" data-bs-toggle="tab" data-bs-target="#allfiles" type="button" aria-controls="allfiles" aria-selected="false" aria-expanded="false" class="nav-link" role="tab">Todos los archivos   
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div *ngFor="let documento of listDoc" class="search-item">
                                            <h4 class="mb-1"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)='loadModal(documento.nombreArchivo, documento.primerasLineas, documento.idDocumento)'>{{documento.nombreArchivo}}</a></h4>
                                            <p class="mb-0 text-muted">{{documento.primerasLineas}}</p>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{nombreDocClick}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                {{bodyDocClick}}
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <a role="button" class="btn btn-primary" [href]="urlDescarga" [download]="nombreDocClick" (click)='downloadFile()' >Descargar archivo</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <!-- <ul class="pagination justify-content-center pagination-split mt-0">
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a></li>
                                        </ul> -->
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end All results tab -->
                            <!-- All Files tab -->
                            <div class="tab-pane fade" id="allfiles" role="tabpanel" aria-labelledby="allfiles-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div *ngFor="let documento of todosDocumentos" class="search-item">
                                            <h4 class="mb-1"><a href="#">{{documento["nombreArchivo"]}}</a></h4>
                                            
                                            <p class="mb-0 text-muted">{{documento.primerasLineas}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div *ngFor="let documento of todosDocumentos" class="search-item">
                                        <h4 class="mb-1"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)='loadModal(documento.nombreArchivo, documento.primerasLineas, documento.idDocumento)'>{{documento.nombreArchivo}}</a></h4>
                                        <p class="mb-0 text-muted">{{documento.primerasLineas}}</p>
                                    </div>
                                    <strong>Cantidad total de documentos: {{total}}</strong>
                                </div>
                            </div>
                            <!-- end All Filess tab -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>

</script>

